<!-- begin footer -->
<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__head">
            {% if site.gallery %}
            <div class="gallery-box galley-footer">
              <div class="gallery">
                {% for image in site.gallery.images %}
                <img src="{{site.baseurl}}{{image.url}}" alt="{{image.alt}}">
                {% endfor %}
              </div>
              {% if site.gallery.name %}
              <div class="gallery-description">
                {% if site.gallery.name %}
                  {{ site.gallery.name }}{% endif %} {% if site.gallery.link %}
                <a href="{{ site.gallery.link }}" target="_blank">
                  {% if site.gallery.link-name %}{{ site.gallery.link-name }}{% endif %}
                </a>
              </div>
              {% endif %}
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
        {% include contact-link.html %}
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>. Crafted & Designed by <a
            href="https://github.com/eugenediop">Eugene Rodolphe</a>.</div>
      </footer>
    </div>
  </div>
</div>
<!-- end footer -->