<div class="skill__navigation">
    {% if page.previous.url %}
    <a class="skill__prev" href="{{page.previous.url}}">
        <div class="prev__image">
            <img class="lazy" data-src="{{site.baseurl}}{{page.previous.image}}" alt="{{ page.title }}">
        </div>
        <div class="prev__box">
            <span class="skill__nav skill__nav__prev">Précédent</span>
            <h2 class="skill__nav__title">{{page.previous.title}}</h2>
        </div>
    </a>
    {% endif %}

    {% if page.next.url %}
    <a class="skill__next" href="{{page.next.url}}">
        <div class="next__box">
            <span class="skill__nav skill__nav__next">Suivant</span>
            <h2 class="skill__nav__title">{{page.next.title}}</h2>
        </div>
        <div class="next__image">
            <img class="lazy" data-src="{{site.baseurl}}{{page.next.image}}" alt="{{ page.title }}">
        </div>
    </a>
    {% endif %}
</div>