/* Gallery */
.galley-footer {
  position: relative;
  padding: 40px;
  margin: 0;
  box-shadow: 0 30px 40px rgba(0,0,0,0.07);
  background-color: $white;

  .gallery {
    grid-template-columns: repeat(4, auto);

    @media only screen and (max-width: $desktop) {
      grid-template-columns: repeat(2, auto);
    }
  }

  .gallery-description {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    background: $white;
    &:hover {
      color: $dark;
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 20px;
  }

  @media only screen and (max-width: $desktop) {
    padding: 30px;
  }
}