---
layout: default
---

<div class="container">
    <div class="skill-head">
        {% if page.tags.size >= 1 %}
        <div class="skill-tags__box">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag }}" class="skill__tag">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <h1 class="skill-title">{{ page.title }}</h1>
    </div>
</div>

{% if page.image %}
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="skill-image">
                <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- begin skill -->
<div class="container">
    <article class="skill animate">

        <div class="skill__info">
            <div class="skill__author">
                <a href="{{site.baseurl}}/about/" class="skill__author-image">
                    <img class="lazy" data-src="{{site.data.settings.author.avatar}}"
                        alt="{{site.data.settings.author.name}}">
                </a>
                <div class="skill__author-info">
                    <a href="{{site.baseurl}}/about/" class="skill__author-link">{{site.data.settings.author.name}}</a>
                    <span class="skill__date"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date |
                            date_to_string }}</time></span>
                </div>
            </div>
            <!-- {%include share.html %} -->
        </div>

        <div class="skill__content">
            {{ content }}
        </div>

        {% include skill-navigation.html %}

    </article>
</div>
<!-- end skill -->

{% include related-skills.html %}

{% if site.data.settings.disqus-identifier %}
{% include disqus-comments.html %}
{% endif %}